.smart-toolbar-widget {
    height: 100%;
    background: var(--theia-editor-background);
    border-bottom: 1px solid var(--theia-ui-border-color0);
}

.smart-toolbar-widget__content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    gap: 12px;
}

.smart-toolbar-widget__left {
    display: flex;
    align-items: center;
}

.smart-toolbar-widget__right {
    display: flex;
    align-items: center;
}